.editor-visual-editor {
	position: relative;
	display: flex;
	background-color: $gray-300;
	// Allows the height to fit the parent container and avoids parent scrolling contexts from
	// having overflow due to popovers of block tools.
	overflow: hidden;

	// Centralize the editor horizontally (flex-direction is column).
	align-items: center;

	&.is-resizable {
		max-height: 100%;
	}

	&.has-padding {
		padding: $grid-unit-30 $grid-unit-30 0;
	}

	// The button element easily inherits styles that are meant for the editor style.
	// These rules enhance the specificity to reduce that inheritance.
	// This is duplicated in edit-site.
	& .components-button {
		font-family: $default-font;
		font-size: $default-font-size;
		padding: 6px 12px;

		&.is-tertiary,
		&.has-icon {
			padding: 6px;
		}
	}
}
