
.block-editor-global-styles-background-panel__inspector-media-replace-container {
	.block-editor-global-styles-background-panel__color-tools-panel-item {
		padding: 0;

		button {
			padding: 0;
		}
	}
}

.block-editor-global-styles-background-panel__color-tools-panel-item {
	button {
		padding: 0;
	}
}
